body{
    /* background-color : rgb(61, 56, 56); */
    background-color:bisque;
}
h1{
    /* color :#f30404; */
    font-size: 40px;
}
input[type="text"]{
    text-align: center;
    border-top: hidden;
    border-left:hidden;
    border-right:hidden;
    outline:none;
    /* background-color: rgb(238, 0, 0); */
    background:inherit;
    border-bottom: 2px solid black;
    width:200px;
    height: 20px;


}
button{
    background: inherit;
}
input[type="text"]::placeholder{
    color:black;
}
#graph{
    width:600px;
    margin-left: 33%;
}

#details{
    text-align: center;
    
}